[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
psycopg2-binary = "*"
psycopg2 = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
jinja2 = "*"
dash = "*"
dash-core-components = "*"
dash-bootstrap-components = "*"
dash-html-components = "*"
dnspython = "*"
flask-pymongo = "*"
bson = "*"
python-dotenv = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
