[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
gunicorn = "*"
dash = "*"
dash-core-components = "*"
dash-bootstrap-components = "*"
dash-html-components = "*"
dnspython = "*"
flask-pymongo = "*"
bson = "*"
python-dotenv = "*"
bcrypt = "*"
jinja2 = "*"
black = "*"

[requires]
python_version = "3.8"
